* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('Vector 3.png');
  background-size: contain;   
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
}

.Navbar img {
  object-fit: contain;
}

.Navbar h3 {
  text-align: center;
  flex: 1;
  color: #ffffff;
}

.logo {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.frame{
  margin-top: 15px;
  text-align: center;
}
.dashboard {
  align-items: center;
  margin-top: 15px;
  padding: 20px;
  

}
.das {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.bawah {
  margin-top: 60px;
  display: flex;
  text-align: center;
}