* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
.Navbar {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    display:flex;
    justify-content: flex-start; 
    gap:5px;
    margin-bottom: -50px;
}
.koten {
    justify-content: center;
    
}
.konten h1{
    text-align: center;
    margin-top: 20px;
}
.isi {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    display: block;
}
