* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body {
    background: #3DB2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}


.logo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.logo img {
    margin-left: 7px;
    width: 100px;
    height: auto;
}


.blue-section {
    margin-top: 40px;
    background: #ffffff;
    width: 100%;
    flex: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    color: white;
}

.blue-section h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #000;
}
.small {
    gap: 10px;
    display: flex;
    justify-content: center;
}
.frame {
    margin-top: 20px;
}